// Your custom SCSS should be written here...
@import "../../bower_components/gumby-parallax/_parallax.scss";

$taylorHeight: 433px;
$scroll_textHeight: 60px;
$city_floatHeight: 300px;
$city_floatWidth: 1306px;
$point_downHeight: 164px;
$downHeight: 173px;

body
{
	background: url(../../MEDIA/IMG/splat.png) no-repeat;
}

div.section
{
	border-top: 10px;
	border-style: solid;
	border-color: black;
	background-color: rgb(244,244,244);
}

div.place-holder
{
	display:block;
	width: 100%;
	height: 65px;
}

div.first-layer
{
	background: url(../../MEDIA/IMG/skydiver.png) no-repeat;
	height: 500px;
	width: $city_floatWidth;
	padding: 0px;
	margin: 0px;
}
div.second-layer
{
	background: url(../../MEDIA/IMG/sky.jpg) no-repeat;
	height: 500px;
	width: $city_floatWidth;
	padding: 0px;
	margin: 0px;
}

div#content-height
{
	height: auto;
}

nav.fixed
{
	left: 50%;
	margin-left: -490px;
}

div.main
{

	overflow: hidden;
	background-color: rgb(204,204,204);
	max-width: $city_floatWidth + 10px;
	height: auto;
	margin: 0 auto;
	
	border-style: solid;
	border-left-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-color: black;

}

div.upper-layer
{
	width: auto;
	height: $point_downHeight + $taylorHeight + $scroll_textHeight + $city_floatHeight/2;
}

div.lower-layer
{
	width: auto;
	height: $city_floatHeight/2;
}

div.content-holder
{
	background-color: black;
	width: auto;
	height: 2344px;
	overflow: hidden;
}

img.splash
{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -320px;
	z-index: 1;
}

img.center, img.taylor, img.scroll_text, img.down, img.city_float_bottom, img.city_float_upper
{
	display: block;
	position: relative;
	margin: 0 auto;	
}


img.taylor
{
	width: 880px;
	height: $taylorHeight;
	background: url(../../MEDIA/IMG/sprites1.png) 0 0;
}

img.scroll_text
{
	width: 715px;
	height: $scroll_textHeight;
	background: url(../../MEDIA/IMG/sprites1.png) 0 -433px;
}

img.down
{
	width: 186px;
	height: $downHeight;
	background: url(../../MEDIA/IMG/sprites1.png) 0 -493px;
}

img.city_float_bottom
{
	margin-bottom: 0px;
	width: $city_floatWidth;
	height: $city_floatHeight/2;
	background: url(../../MEDIA/IMG/city_skyline.png) 0 0;

}

img.city_float_upper
{
	margin-bottom: 0px;
	width: $city_floatWidth;
	height: $city_floatHeight/2;
	background: url(../../MEDIA/IMG/city_skyline.png) 0 -#{$city_floatHeight/2};
}

.form-items
{
	display:block;
	float:left;
}

.fade 
{
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
 
.fade-hide
{
	opacity: 0;
}

.fade-show
{
	opacity: 1;
}

.display-none
{
	display: none!important;
}