<div class="modal" id="contact">
	<div class="content" style="width:640px;height:320px;">
		<a class="close switch" gumby-trigger="|div#contact"><i class="icon-cancel"></i></a>
		<h2 style="float:left"> Contact me! </h2>
		<br />
		<br />
		<br />
		<span class="form-items">Name &nbsp;</span>
		<br />
		<input id="name" type="text" class="form-items input" placeholder="name"></input>
		<br/>
		<span class="form-items">Email  &nbsp; &nbsp;</span>
		<br />
		<input id="email" class="form-items input" type="email" placeholder="email"></form>
		<br/>
		<span class="form-items">Message</span>
		<br />
		<textarea id="message" class="form-items input" rows="4" cols="50" placeholder="message"></textarea>
		<br />
		<br />
		<br />
		<button style="clear:both;float:left;"> Submit </button>
		<p> This contact me feature does not work, I just recently published this web page and will soonly get it to work.
		</p>
	</div>
</div>

<div id="content-height">
	<div class="place-holder">
		<nav class="row navbar metro" gumby-fixed="top">
			<center>
				<ul>
					<li ng-click="scrollToContent('#about')"><a href="#">About Me</a></li>
					<li ng-click="scrollToContent('#resume')"><a href="#">Resume</a></li>
					<li ng-click="scrollToContent('#blogs')"><a href="#">Blogs</a></li>
					<li ng-click="scrollToContent('#projects')"><a href="#">Projects</a></li>
					<li class="btn primary medium"><a href="#" class="switch" gumby-trigger="#contact">Contact Me</a></li>
				</ul>
			</center>
		</nav>
	</div>
	<div id="about" class="section">
		<div class="section-title">
			<center>
				<h1>Hi, my name is Taylor and I'm a full-stack web developer!</h1>
			</center>
		</div>
		<div class="section-content">
			<h3> About the non-technical me: </h3>
			<p>
				What can I say about myself? At the time of this writting I'm 23, love traveling, and I enjoy playing sports but not watching them. I've also had the pleasurable experience of working my first start-up (2013, Care Monk) as a lead developer.
			</p>
			<p>
				I have a dog, Apollo, who keeps me busy when I am at home. He enjoys chasing rabbits and can be a bit a of a trouble maker at times. My favorite hobby is cycling, but unfortunately it is difficult to do that in Las Vegas (where I live). I also used to do a bit of mountain biking, but then someone stole my bike ;(
			</p>
			<p>
				I am looking to move someplace else that is more conducive to my outdoor needs like drop in soccer, hiking, and cycling. For now I pretty much just play racquet ball whenever the courts aren't occupied.
			</p>
			<h3> About the technical me: </h3>
			<p>
				I <b>love, love, love!!!</b> developing interesting applications and learning about new technologies to build bigger bad ass web app's! Since have been programming my entire life I have dealt with just about every walk of computer science related development from computational physics, security, firmware, to my current mistress ... web development:)
			</p>
			<p>
				I develop web app's with PHP5 using Symfony, however I am currently learning Ruby on Rails and Spring for Java. For developing client side web apps, I am a big fan of Angularjs/jQuery(javascript) and Gumby/Bootstrap(HTML/CSS). I also use tools like SASS and Compass to help build my CSS.
			</p>
		</div>
	</div>

	<div class="parallax second-layer" gumby-parallax=".8" gumby-offset="-100">
		<div class="parallax first-layer" gumby-parallax="-.1" gumby-offset="500"></div>
	</div>

	<div id="resume" class="section">
		<div class="section-title">
			<h1>Resume</h1>
		</div>
		<div class="section-content">
			If you would like to view my resume you can access it here: <a href="Portfolio/MEDIA/MISC/resume.pdf">Resume.</a> I plan to make an interactive resume for this section soon enough.
		</div>
	</div>

	<div class="parallax second-layer" gumby-parallax=".8" gumby-offset="300">
		<div class="parallax first-layer" gumby-parallax="-.1" gumby-offset="2500"></div>
	</div>

	<div id="blogs" class="section">
		<div class="section-title">
			<h1>Blogs</h1>
		</div>
		<div class="section-content">
			<p>
				I am currently writting a blog in developing a PHP5 enterprise website from start to finish. Although there is a lot of amazing material out there on how to create code, people are still inexperienced in the development process when joining the workforce. My blog will hopefully shine some light on working with team projects.
				Although my blog is still a work in progress and has not been proof read, you can still find my main blog here: <a href="http://tksdeveloper.blogspot.com/">My Blog</a>
			</p>	
		</div>
	</div>

	<div class="parallax second-layer" gumby-parallax=".8" gumby-offset="700">
		<div class="parallax first-layer" gumby-parallax="-.1" gumby-offset="4500"></div>
	</div>
	
	<div id="contact" class="section">
		<div class="section-title">
			<h1>Projects</h1>
		</div>
		<div class="section-content">
			<p>
				I have worked on a lot of projects and I will get to listing them at a later date but you can check out my public git repository here: <a href="https://github.com/tkaplan?tab=repositories">Git Portfolio</a>
			</p>
		</div>
	</div>
</div>